@charset "UTF-8";
/* CSS Document */
html {
    background-color: #e6e9e9;
/*    background-image: -webkit-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);*/
/*    background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);*/
    -webkit-font-smoothing: antialiased;
}



body {
    margin: 0 auto 25px auto;
    padding: 2em 2em 4em;
    max-width: 700px;
    min-height: 500px;
    height: auto;
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: "Arial", Helvetica, Arial, sans-serif;
    font-size: 12px; 
    font-weight:100;
    color: #666;
    background-color: #ffffff;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(122,121,122,1);
/*    -moz-box-shadow: 0px 4px 2px 1px rgba(122,121,122,1);*/
/*    box-shadow: 0px 4px 2px 1px rgba(122,121,122,1);*/
    -webkit-font-smoothing: antialiased;
}
/*html {
}

body{
	margin: 5px auto;
    padding: 2em 2em 4em;
    max-width: 700px;
	font-size: 14px;
	color: #666;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
    background-color: #ffffff;
}
*/
h1, h3, h4, h5, h6{
	font-weight: 500;
    margin: 0px;
	color: #336;
}

h2 {
	font-weight: 600;
	margin: 0px 0px 5px -20px;
	color: darkgreen
}

p, ul, li{
	font-size: 14px;
	line-height: 120%;
	text-align: left;
	color: #666;
	margin-top: 0px;
}

a{
	text-decoration: none;
	color: #360;
}

a:hover{
	color: #900;
}

.smallfont {
	font-size: 10px;
    line-height: 100%;
	}

.medfont {
	font-size: 14px;
	}

.center {
	text-align: center;
}

/***** HEADER ******/
#header {
	width: 100%;
	margin: 0px auto 0px auto;
}

#header li{
	margin-left: -20px;
	list-style: none;
}

#header a{
	text-decoration:none;
	color: #666;
}

#header a:hover{
	color: #900;
}

/***** MENU ******/
#menu{
	color: #666;
    font-size: 16px;
    font-weight: 300;
}

#menu table{
	width: 680px;
	height: 35px;
    border-spacing: 2px;
}

#menu td{
	width: 96px;
	text-align:center;
/*	background-color: #AAA; */
/*	background-color: #699; */
}

#menu a{
	text-decoration: none;
	color: #D60;
}

#menu td:hover{
	background-color: lightgray;
}

#menu td.here {
    font-weight: bold;
    color: gray;
}


/* Non bulletted list */
/* Publications List */
#publist {
	width: 620px;
	margin: 20px auto 0px auto;
}

#publist ul{
	margin-left: -20px;
	margin-bottom: 20px;
	}
	

#publist li{
	margin-top: 10px;
	line-height: 115%;
	text-align: left;
	margin-left: 10px;
	list-style: none;
}

/* General Pages */
#content{
	width: 620px;
	margin: 20px auto 10px auto;
    align-content: center;
}

#content table{
	width: 100%;
}

#content ul{
    line-height: 150%;
    list-style: none;
    margin: 0px;
    border-left: 1px solid #aaa;
}

#frontpage{
	width: 620px;
	margin: 20px auto 10px auto;
    align: center;
}

#resources{
	width: 620px;
	margin: 20px auto 10px auto;
    line-height: 150%;
    text-align: center;
}

#resources table{
	width: 100%;
    vertical-align: top;
}

#resources td{
    width: 33%;
    vertical-align: text-top;
}

#resources a{
    text-decoration: none;
    color:inherit;
    
}


.paragraph {
	line-height: 120%;
	font-size: 14px;
	color: #666;
	width: auto;
	margin: 10px auto 10px auto;
	}

.paragraph a{
	color: #360;
	font-style: italic;
}

.paragraph a:hover{
	color: #C60;
}

/* Font Styles */
.date {
	font-weight: bold;
	color: darkslategray;
}

.pdf ul, li{
	font-size: 14px}

.pdf a{
	color: #C60;
	font-weight: normal;
	text-decoration: none;
	}

.pdf a:hover{
	color: #C30;
	}

.links a{
	color: #900;
	text-decoration: none
    
}

.links a:hover{
	color: #C60;
}


/* Thumb viewers */
.thumbs{
  clear: both;
  width: 510px;
  margin:0 auto;
  position: relative;
  overflow: auto;
}

.thumbs ul{
  padding:0;
  margin:0;
  list-style-type:none;
  width: 1000px;
}

.thumbs li{
  float:left;
  padding:0;
  margin:5px 5px 0 0;
  display: inline;
}

.thumbs li a{
  background-color:#2B2B2B;
  margin:0;
  padding:5px;
  display:block;
  width: 125px;
  height: 75px;
  text-decoration:none;
  color: #fff;
}

.thumbs li a:hover, .thumbs li.active a{
  background-color:gray;
}

.thumbs img{
  border: none;
  padding: 0;
  margin: 0;
}

.viewer{
  clear: both;
  margin:10px auto;
  padding:0;
  background-color:gray;
  overflow:hidden;
  height:310px;
  width:510px;
  color: #fff;
  font-size: .9em;
}

.viewer img{
  border: 5px solid gray;
}

.viewer-image{
  clear:both;
  padding:0;
  margin:0;
  position: relative;
  display: block;
  height:310px;
  width:510px;
}

.viewer-image cite {
  background: #111;
  -moz-opacity:.7;
  filter:alpha(opacity=70);
  opacity:.7;
  color: #fff;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 480px;
  padding: 10px;
  margin: 5px;
  border-top: 1px solid #999;
  font-style: normal;
}
